/* ===============
   Root Container
================= */
#root {
    /* width: 95%; */
    /* margin: 0 auto; */
    margin: 0 0%;
    padding: 1rem;
}

/* ========================
   Background & Grid Layout
========================== */
.background-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heatmap-scatterplots-grid {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60% 40%;
}

/* ===========================
   Flex Container Variations
=========================== */
.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* ==================
    Side & Main Panel Layout
================== */
.panels-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.mainpanel {
    /* flex-grow: 1; */
    padding: 2rem;
}

.mainpanel.sp-expanded {
    margin: 0% 0% 0% 0%;
    margin-left: var(--side-panel-width);
}

.mainpanel.sp-collapsed {
    margin: 0% 2% 0% 2%;
}

/* ======================
   Heading Custom Styling
====================== */

.plot-headings {
    margin: 0;
    padding: 1px 0 5px 0;
    text-align: center;
    flex: 1;
}

.pearsonCorrelation-heading {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* ==================
   Structure heatmap-heading
================== */
.checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 13px;
    padding: 10px;
}

.show-chatgpt-button {
    margin-right: auto;
}

/* =====================
   PCA / KMeans Styling
===================== */
.pca-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.kmeans-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
}
