#root {
    /* max-width: 1280px; */
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.background-container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    /* font-size: 2.5em; */
    margin: 0 0 1rem 0;
    padding: 0;
}

.plot-headings {
    /* font-size: 1.1em; */
    margin: 0;
    padding: 1px 0 5px 0;
    text-align: center;
    flex: 1;
}

.read-the-docs {
    color: #888;
    /* color: #f3ecec; */
}

.heatmap-scatterplots-grid {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60% 40%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 13px;
}

.pca-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between title and dropdown */
    padding: 3px;
    /* Dark background color */
    /* background-color: #2c2c2c; */
}

.dropdown-container {
    text-align: right;
    max-width: 170px;
    margin: 0;
    padding: 0;

    /* Optionally, adjust width or max-width here */
}

.chatgpt-response {
    /* text-align: left; */
}
