:root {
    --side-panel-width: 350px;
}

/* ===============
   Root Container
================= */
#root {
    /* width: 95%; */
    /* margin: 0 auto; */
    margin: 0 0%;
    padding: 1rem;
}

/* ========================
   Background & Grid Layout
========================== */
.background-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heatmap-scatterplots-grid {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60% 40%;
}

/* ===========================
   Flex Container Variations
=========================== */
.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

/* ==================
    Side & Main Panel Layout
================== */
.panels-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidepanel {
    /* background-color: #212529; */

    /* Version flexibel */
    /* background-color: #191c1f;
    background-color: #141618;
    padding: 1rem;
    overflow-y: auto;
    transition: width 0.3s ease; */

    /* Version Fixed */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #141618;
    padding: 1rem;
    overflow-y: auto;
    transition: width 0.3s ease;
    /* Overlays content */
    z-index: 10;
}

.sidepanel.expanded {
    width: var(--side-panel-width);
}

.sidepanel.collapsed {
    width: 0;
    padding: 0;
    border: none;
}

.mainpanel {
    /* flex-grow: 1; */
    padding: 2rem;
}

.mainpanel.sp-expanded {
    margin: 0% 0% 0% 0%;
    margin-left: var(--side-panel-width);
}

.mainpanel.sp-collapsed {
    margin: 0% 2% 0% 2%;
}

/* ======================
   GPT side-panel
====================== */
.sidepanel-header {
    display: flex;
    flex-direction: row; /* Explicit */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.sidepanel-body {
    flex-grow: 1;
    text-align: left;
}

.chatGPT-suggest-button {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.chatGPT-prompt-container {
    display: flex;
    gap: 10px;
}

.chatgpt-response {
    margin-top: 1em;
    text-align: left;
}

/* ======================
   Heading Custom Styling
====================== */

.plot-headings {
    margin: 0;
    padding: 1px 0 5px 0;
    text-align: center;
    flex: 1;
}

.pearsonCorrelation-heading {
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

/* ==================
   Structure heatmap-heading
================== */
.checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 13px;
    padding: 10px;
}

.show-chatgpt-button {
    margin-right: auto;
}

/* =====================
   PCA / KMeans Styling
===================== */
.pca-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.kmeans-container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1em;
}
