#root {
    /* max-width: 1280px; */
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.background-container {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(150px, 1fr)
    ); /* Set each checkbox to have a minimum width */
    gap: 10px; /* Spacing between checkboxes */
    padding: 10px;
}

.plot-headings {
    /* font-size: 1.1em; */
    margin: 0;
    padding: 1px 0 5px 0;
    text-align: center;
    flex: 1;
}

.read-the-docs {
    color: #888;
    /* color: #f3ecec; */
}

.heatmap-scatterplots-grid {
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 60% 40%;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.show-chatgpt-button {
    /* Align button to the left */
    margin-right: auto;
    /* align-self: flex-start; */
}

.pearsonCorrelation-heading {
    margin: 0; /* Removes default margin to prevent misalignment */
    text-align: center; /* Centers text in case container size varies */
    flex-grow: 1; /* Ensures the heading takes up space to remain centered */
}

.checkbox-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 13px;
}

.pca-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between title and dropdown */
    padding: 3px;
    /* Dark background color */
    /* background-color: #2c2c2c; */
}

.dropdown-container {
    text-align: right;
    max-width: 170px;
    margin: 0;
    padding: 0;

    /* Optionally, adjust width or max-width here */
}

.chatgpt-response {
    margin-top: 1em;
    /* text-align: left; */
}
